<!-- templates/signup.html -->
{% extends 'base_alchemy.html' %}

{% block title %}Brands{% endblock %}
{% block page_title %}Brands{% endblock %}

{% block content %}

    {% if brands_list %}
        <table id="table-brands" class="table table-striped table-bordered"
               data-link-add="{% url 'alchemy:brands_add' %}" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for brand in brands_list %}
                <tr>
                    <td>{{ brand.name }}</td>
                    <td>{{ brand.url }}</td>
                    <td><a class="btn btn-warning" href="{% url 'alchemy:brands_edit' brand.id %}"><i
                            class="fas fa-edit"></i></a></td>
                    <td>
                        <button class="btn btn-danger btn-delete-row"
                                data-link="{% url 'alchemy:brands_remove' brand.id %}"><i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No brands available.</p>
    {% endif %}
{% endblock %}