{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "User Status" %}{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col col-3 ">
                {% include 'user_profile/sidebar.html' %}
            </div>

            <div class="col col-9 ">

                <div class="card">
                    <div class="card-body">
                        <h2 class="h6">Account Status</h2>
                        <hr>
                        <p>This account is currently active. To de-activate, please click the button below, you
                            can always re-activate your account at anytime.</p>
                        <button class="btn btn-danger ">De-activate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
