{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% trans "Account Inactive" %}</h1>
                        <hr>

                        <p>{% trans "This account is inactive." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
