{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">

                        <h1 class="h4">{% trans "Change Password" %}</h1>
                        <hr>
                        <p>{% trans 'Your password is now changed.' %}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
