{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% trans "Change Password" %}</h1>
                        <hr>

                        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary btn-block" name="action">
                                {% trans "Change Password" %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
