{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% trans "Set Password" %}</h1>
                        <hr>

                        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
