{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% if token_fail %}{% trans "Bad Token" %}{% else %}
                            {% trans "Change Password" %}{% endif %}</h1>
                        <hr>
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been
                                used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                                .{% endblocktrans %}</p>
                        {% else %}
                            {% if form %}
                                <form method="POST" action="{{ action_url }}">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <input type="submit" name="action" class="btn btn-primary btn-block"
                                           value="{% trans 'change password' %}"/>
                                </form>
                            {% else %}
                                <p>{% trans 'Your password is now changed.' %}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
