{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">

                        <h1 class="h4">{% trans "Password Reset" %}</h1>
                        <hr>

                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail  allowing you to reset it." %}</p>

                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-primary btn-block"
                                   value="{% trans 'Reset My Password' %}"/>
                        </form>

                        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.
                        {% endblocktrans %}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
