{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% trans "Password Reset" %}</h1>
                        <hr>


                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}

                        <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within
                            a  few minutes.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
