{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}


    <div class="container">
        <div class="mt-5 pb-5"></div>

        <div class="row">

            <div class="col col-5  mx-auto">
                <div class="card">
                    <div class="card-body">

                        <h1 class="h4">{% trans "Sign Up Closed" %}</h1>
                        <hr>

                        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
