{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="mt-5"></div>

        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% trans "Verify Your E-mail Address" %}</h1>
                        <hr>

                        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to
                            finalize the signup process. Please contact us if you do not receive it within a few
                            minutes.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
