<!-- templates/signup.html -->
{% extends 'base_alchemy.html' %}

{% block title %}Alchemy - main{% endblock %}
{% block page_title %}Alchemy{% endblock %}
{% block content %}
    <div class="card-deck">
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-header bg-success text-white">Recipes</div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{% url 'alchemy:recipes_list' %}" class="btn btn-success">Recipes list</a>
            </div>
        </div>
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-header bg-warning text-white">Brands</div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{% url 'alchemy:brands_list' %}" class="btn btn-warning">Brands list</a>
            </div>
        </div>
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-header bg-secondary text-white">Components</div>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{% url 'alchemy:components_list' %}" class="btn btn-secondary">Components list</a>
            </div>
        </div>
    </div>
    <h2>Last added recipes</h2>
    <table id="table-recipes-public" class="table table-striped table-bordered"
           data-link-add="{% url 'alchemy:recipes_add' %}" style="width:100%">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Kind</th>
            <th>Pub. date</th>
            <th>Author</th>
            <th>Rate</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        {% if recipes_list %}
            {% for recipe in recipes_list %}
                <tr>
                    <td>{{ recipe.title }}</td>
                    <td>{{ recipe.description }}</td>
                    <td>{{ recipe.kind }}</td>
                    <td>{{ recipe.pub_date }}</td>
                    <td>{{ recipe.author }}</td>
                    <td>{{ recipe.ratings.get.average }}</td>
                    <td><a class="btn btn-info" href="{% url 'alchemy:recipes_view' recipe.id %}"><i
                            class="fas fa-prescription-bottle-alt"></i></a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

{% endblock %}
