<!-- templates/signup.html -->
{% extends 'base_alchemy.html' %}

{% load crispy_forms_tags %}

{% block title %}Add a recipe{% endblock %}
{% block page_title %}Add a recipe{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% crispy form %}
        </div>
    </div>
{% endblock %}