<!-- templates/signup.html -->
{% extends 'base_alchemy.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load ratings %}

{% load comments %}
{% load comments_xtd %}

{% block title %}Recipe edition{% endblock %}
{% block page_title %}Recipe edition{% endblock %}

{% block content %}


    {% include "components/modal_add.html" %}

    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recipe Information</h4>
                        <table class="table table-striped table-bordered table-sm table-recipe-info">
                            <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{ recipe.title }}</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>{{ recipe.description }}</td>
                            </tr>
                            <tr>
                                <td>Kind:</td>
                                <td>{{ recipe.kind.name }}</td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td>{{ recipe.pub_date }}</td>
                            </tr>
                            <tr>
                                <td>Author:</td>
                                <td>{{ recipe.author }}</td>
                            </tr>
                            <tr>
                                <td>Public:</td>
                                <td>{{ recipe.is_public_icon }}</td>
                            </tr>
                            <tr>
                                <td>Rate:</td>
                                <td>{{ recipe.ratings.get.average }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="{% url 'alchemy:recipes_edit_info' recipe.id %}?next={{ request.path|urlencode }}"
                           class="btn btn-warning btn-block">Edit Recipe info</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recipe Valoration</h4>
                        {% ratings recipe %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row ingredients" id="recipe-edition">

        {% include 'recipes/modal_ingredient.html' %}
        <div class="col-md-8 offset-md-2">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ingredients list</h4>
                    <div id="div_id_title" class="form-group row">
                        <label for="id_title" class="col-form-label col-1">
                            Quantity in ml<span class="asteriskField">*</span>
                        </label>
                        <div class="col-2">
                            <input type="number" name="title" maxlength="200" class="textinput textInput form-control"
                                   required="" id="id_title" v-model="qtt">
                            <small id="hint_id_title" class="form-text text-muted">Quantity of liquid to produce (ml).
                            </small>
                        </div>
                        <div class="btn-group btn-group-toggle col-2" style="height: max-content">
                            <label class="btn btn-primary" :class="{ 'active': metric == '%' }">
                                <input type="radio" name="options" value="%"
                                       v-model="metric"> %
                            </label>
                            <label class="btn btn-primary" :class="{ 'active': metric == 'ml' }">
                                <input type="radio" name="options" value="ml"
                                       v-model="metric"> ml
                            </label>
                        </div>
                    </div>

                    <h4>Recipe to produce ${ qtt } ml of liquid</h4>
                    <ul>
                        <li v-for="msg in recipe.messages.error"> ${ msg }</li>
                    </ul>

                    <form v-on:submit.prevent="addIngredient()" method="post">
                        {% csrf_token %}
                        <table class="table table-striped table-bordered table-sm">
                            <thead>
                            <tr>
                                <th>Component</th>
                                <th>Percentage</th>
                                <th>Quantity (ml)</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="ingredient in recipe.ingredients">
                                <td>${ingredient.component.name}</td>
                                <td>${ingredient.percentage}</td>
                                <td>${ (ingredient.percentage/100)*qtt }</td>
                                <td>
                                    <a class="btn btn-link" v-on:click="setIngredient(ingredient)" data-toggle="modal"
                                       data-target="#modal-edit-ingredient">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a class="btn btn-link" v-on:click="deleteIngredient(ingredient.id)">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-50">
                                    <div class="input-group">
                                        <select name="component" id="id_component"
                                                class="form-control relatedfieldwidgetcanadd form-control"
                                                required="required" v-model="newIngredient.component_id">
                                            <option value="" selected="selected">---------</option>
                                            <option v-for="comp in components" v-bind:value=comp.id>
                                                ${comp.name} - ${comp.brand}
                                            </option>
                                        </select>
                                        <button id="add_id_component" type="button" data-toggle="modal"
                                                data-target="#modal-form-component" class="btn btn-success">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </td>
                                <td class="w-20" v-if="metric == '%'">
                                    <input name="percentage" class="numberinput form-control" id="id_percentage"
                                           type="number" step="any" required="required"
                                           v-model="newIngredient.percentage">
                                </td>
                                <td class="w-20" v-else>
                                    <input name="percentage" id="id_percentage"
                                           type="hidden" step="any" required="required"
                                           v-model="newIngredient.percentage">
                                    ${ newIngredient.percentage }
                                </td>
                                <td class="w-20" v-if="metric == 'ml'">
                                    <input class="numberinput form-control"
                                           type="number" step="any" required="required"
                                           v-model="ml">

                                </td>
                                <td class="w-20" v-else>
                                    ${ (newIngredient.percentage/100)*qtt }
                                </td>
                                <td class="w-10">
                                    <button type="submit" name="submit_ingredient" class="btn btn-primary">Add
                                        ingredient
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            <div class="card" id="recipe-comments">
                <div class="card-body">
                    <h4 class="card-title">Comments</h4>
                    {% get_comment_count for recipe as comment_count %}
                    <div class="card card-block mb-5">
                        <div class="card-body">
                            <h4 class="card-title text-center pb-3">Post your comment</h4>
                            {% if request.user.is_authenticated %}
                                {% render_comment_form for recipe %}
                            {% endif %}
                        </div>
                    </div>
                    {% if comment_count %}
                        <hr/>
                        <div class="comments">
                            {% render_xtdcomment_tree for recipe %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

        var recipe_id = {{ recipe.id }};
        var app = new Vue({
            el: '.ingredients',
            delimiters: ['${', '}'],
            data: {
                recipe: new Recipe(recipe_id),
                components: [],
                qtt: 50,
                metric: "%",
                loading: false,
                currentIngredient: {
                    id: null,
                    component_id: null,
                    percentage: null,
                    recipe_id: recipe_id
                },
                newIngredient: {
                    component_id: null,
                    percentage: null,
                    recipe_id: recipe_id
                },
            },
            mounted: function () {
                this.recipe.get();
                this.getComponents();
            },
            computed: {
                ml: {
                    get: function () {
                        return (this.newIngredient.percentage / 100) * this.qtt
                    },
                    set: function (ml) {
                        this.newIngredient.percentage = (ml * 100) / this.qtt;
                    }
                }
            },
            methods: {
                setIngredient: function (ingredient) {
                    this.currentIngredient.id = ingredient.id;
                    this.currentIngredient.component_id = ingredient.component.id;
                    this.currentIngredient.percentage = ingredient.percentage;
                },
                addIngredient: function () {
                    this.recipe.addIngredient(this.newIngredient);
                },
                updateIngredient: function () {
                    this.recipe.updateIngredient(this.currentIngredient.id, this.currentIngredient);
                },
                deleteIngredient: function (id) {
                    this.recipe.removeIngredient(id);
                },
                getComponents(page = 1) {
                    this.loading = true;
                    axios.get('alchemy/api/components/?page=' + page)
                        .then((response) => {
                            this.components = this.components.concat(response.data.results);
                            if (response.data.next != null) {
                                this.getComponents(page + 1);
                            }
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                }
            }
        });
    </script>
{% endblock %}
