<!-- templates/signup.html -->
{% extends 'base_alchemy.html' %}

{% block title %}Recipes kinds{% endblock %}
{% block page_title %}Recipes kinds{% endblock %}

{% block content %}
    <a href="{% url 'alchemy:recipes_kinds_add' %}">
        Add a new recipe kind
    </a>
    {% if kinds %}
        <ul>
            {% for brand in kinds %}
                <li>
                    <a href="{% url 'alchemy:recipes_kinds_edit' brand.id %}">
                        {{ brand.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No brands available.</p>
    {% endif %}
{% endblock %}