<!-- templates/signup.html -->
{% extends 'base_alchemy.html' %}

{% block title %}Recipes{% endblock %}
{% block page_title %}Recipes{% endblock %}
{% block content %}
    <table id="table-recipes" class="table table-striped table-bordered"
           data-link-add="{% url 'alchemy:recipes_add' %}" style="width:100%">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Kind</th>
            <th>Pub. date</th>
            <th>Author</th>
            <th>Rate</th>
            <th>Public</th>
            <th>View</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        {% if recipes_list %}
            {% for recipe in recipes_list %}
                <tr>
                    <td>{{ recipe.title }}</td>
                    <td>{{ recipe.description }}</td>
                    <td>{{ recipe.kind }}</td>
                    <td>{{ recipe.pub_date }}</td>
                    <td>{{ recipe.author }}</td>
                    <td>{{ recipe.ratings.get.average }}</td>
                    <td>{{ recipe.is_public_icon }}</td>
                    <td><a class="btn btn-info" href="{% url 'alchemy:recipes_view' recipe.id %}"><i
                            class="fas fa-prescription-bottle-alt"></i></a></td>
                    <td><a class="btn btn-warning" href="{% url 'alchemy:recipes_edit' recipe.id %}"><i
                            class="fas fa-edit"></i></a></td>
                    <td>
                        <button class="btn btn-danger btn-delete-row"
                                data-link="{% url 'alchemy:recipes_remove' recipe.id %}"><i
                                class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}

