<div class="modal fade" id="modal-edit-ingredient">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit ingredient</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form v-on:submit.prevent="updateIngredient()">
                    <div class="row">
                        <div class="col-6 col-auto">
                            <div class="input-group">
                                <select name="component" id="id_component"
                                        class="form-control relatedfieldwidgetcanadd form-control"
                                        required="required" v-model="currentIngredient.component_id">
                                    <option value="" selected="selected">---------</option>
                                    <option v-for="comp in components" v-bind:value=comp.id>
                                        ${comp.name} - ${comp.brand}
                                    </option>
                                </select>
                                <button href="/alchemy/components/" id="add_id_component" data-toggle="modal"
                                        data-target="#modal-form-component" class="btn btn-success"><i
                                        class="fas fa-plus"></i></button>
                            </div>
                        </div>

                        <div class="col-3 col-auto">
                            <input name="percentage" class="numberinput form-control" id="id_percentage"
                                   type="number" step="any" required="required" v-model="currentIngredient.percentage">
                        </div>

                        <div class="col-3 col-auto">
                            <button type="submit" name="submit_ingredient" class="btn btn-primary">Add
                                ingredient
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>