<!-- templates/signup.html -->
{% extends 'base_alchemy.html' %}

{% load ratings %}
{% load comments %}
{% load comments_xtd %}

{% block title %}Recipe info: {{ recipe.title }}{% endblock %}
{% block page_title %}Recipe info: <b>{{ recipe.title }}</b>{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 offset-md-2">
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recipe Information</h4>
                        <table class="table table-striped table-bordered table-sm table-recipe-info">
                            <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{ recipe.title }}</td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td>{{ recipe.description }}</td>
                            </tr>
                            <tr>
                                <td>Kind:</td>
                                <td>{{ recipe.kind.name }}</td>
                            </tr>
                            <tr>
                                <td>Date:</td>
                                <td>{{ recipe.pub_date }}</td>
                            </tr>
                            <tr>
                                <td>Author:</td>
                                <td>{{ recipe.author }}</td>
                            </tr>
                            <tr>
                                <td>Rate:</td>
                                <td>{{ recipe.ratings.get.average }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Recipe Valoration</h4>
                        {% ratings recipe %}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row" id="recipe-edition">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">Ingredients list</h4>
                    <div id="div_id_title" class="form-group row">
                        <label for="id_title" class="col-form-label col-1">
                            Quantity in ml<span class="asteriskField">*</span>
                        </label>
                        <div class="col-2">
                            <input type="number" name="title" maxlength="200" class="textinput textInput form-control"
                                   required="" id="id_title" v-model="qtt">
                            <small id="hint_id_title" class="form-text text-muted">Quantity of liquid to produce (ml).
                            </small>
                        </div>
                    </div>
                    <h4>Recipe to produce ${ qtt } ml of liquid</h4>
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                        <tr>
                            <th>Component</th>
                            <th>Percentage</th>
                            <th>Quantity (ml)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="ingredient in recipe.ingredients">
                            <td>${ingredient.component.name}</td>
                            <td>${ingredient.percentage}</td>
                            <td>${ (ingredient.percentage/100)*qtt }</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card" id="recipe-comments">
                <div class="card-body">
                    <h4 class="card-title">Comments</h4>
                    {% get_comment_count for recipe as comment_count %}
                    <div class="card card-block mb-5">
                        <div class="card-body">
                            <h4 class="card-title text-center pb-3">Post your comment</h4>
                            {% if request.user.is_authenticated %}
                                {% render_comment_form for recipe %}
                            {% endif %}
                        </div>
                    </div>
                    {% if comment_count %}
                        <hr/>
                        <div class="comments">
                            {% render_xtdcomment_tree for recipe %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>

        axios.defaults.xsrfCookieName = "csrftoken";
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

        var recipe_id = {{ recipe.id }};
        var app = new Vue({
            el: '#recipe-edition',
            delimiters: ['${', '}'],
            data: {
                recipe: new Recipe(recipe_id),
                components: [],
                loading: false,
                qtt: 50,
                message: null
            },
            mounted: function () {
                this.recipe.get();
                this.getComponents();
            },
            methods: {

                setIngredient: function (ingredient) {
                    this.currentIngredient.id = ingredient.id;
                    this.currentIngredient.component_id = ingredient.component.id;
                    this.currentIngredient.percentage = ingredient.percentage;
                },
                getComponents(page = 1) {
                    this.loading = true;
                    axios.get('alchemy/api/components/?page=' + page)
                        .then((response) => {
                            this.components = this.components.concat(response.data.results);
                            if (response.data.next != null) {
                                this.getComponents(page + 1);
                            }
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                }
            }
        });
    </script>
{% endblock %}

