<!-- templates/signup.html -->
{% extends 'base_alchemy.html' %}

{% load crispy_forms_tags %}
{% block title %}Components{% endblock %}
{% block page_title %}Components{% endblock %}
{% block content %}
    {% include "components/modal_add.html" %}
    {% if components_list %}
        <table id="table-components" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Kind</th>
                <th>Brand</th>
                <th>Author</th>
                {#            <th>View</th>#}
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            {% for component in components_list %}
                <tr>
                    <td>{{ component.name }}</td>
                    <td>{{ component.description }}</td>
                    <td>{{ component.kind }}</td>
                    <td>{{ component.brand }}</td>
                    <td>{{ component.author }}</td>
                    {#            <td><a class="btn btn-info" href="{% url 'alchemy:component_view' recipe.id %}"><i class="fas fa-prescription-bottle-alt"></i></a></td>#}
                    <td><a class="btn btn-warning" href="{% url 'alchemy:components_edit' component.id %}"><i
                            class="fas fa-edit"></i></a></td>
                    <td>
                        <button class="btn btn-danger btn-delete-row"
                                data-link="{% url 'alchemy:components_remove' component.id %}"><i
                                class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No Components available.</p>
    {% endif %}
{% endblock %}