{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% trans "Social Network Login Failure" %}</h1>
                        <hr>

                        <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
