{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% trans "Login Cancelled" %}</h1>
                        <hr>
                        {% url 'account_login' as login_url %}

                        <p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing
                            accounts. If this was a mistake, please proceed to <a href="{{ login_url }}">sign in</a>
                            .{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
