{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-5  mx-auto">
                <div class="mt-5 pb-5"></div>

                <div class="card">
                    <div class="card-body">
                        <h1 class="h4">{% trans "Sign Up" %}</h1>
                        <hr>

                        <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You areabout
                            to use your {{ provider_name }} account to login to
                            {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}</p>

                        <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}"/>
                            {% endif %}
                            <button class="btn btn-primary btn-block" type="submit" c>{% trans "Sign Up" %} &raquo;
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
