<!-- templates/signup.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Contact us{% endblock %}
{% block page_title %}Contact us{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Got a question? We'd love to hear from you.
                Send us a message and we'll respond as soon as possible.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            {% crispy form %}
        </div>
    </div>
{% endblock %}