<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                <!--headin5_amrc-->
                <p class="mb10">
                    Vape Manager is a non-profit organization without a specific location. You can contact us by e-mail.
                </p>
                {#                <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>#}
                {#                <p><i class="fa fa-phone"></i> +91-9999878398 </p>#}
                <p><i class="fa fa fa-envelope"></i> webmaster@vapemanager.com </p>


            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="{% url 'alchemy:index' %}">Alchemy</a></li>
                    <li><a href="#{% url 'contact' %}">Contact us</a></li>
                    {#                    <li><a href="#">Hollow Man Montage</a></li>#}
                    {#                    <li><a href="#">Ebay & Amazon</a></li>#}
                    {#                    <li><a href="#">Hair Masking/Clipping</a></li>#}
                    {#                    <li><a href="#">Image Cropping</a></li>#}
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-6 col">
                {#                <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>#}
                {#                <!--headin5_amrc-->#}
                {#                <ul class="footer_ul_amrc">#}
                {#                    <li><a href="#">Remove Background</a></li>#}
                {#                    <li><a href="#">Shadows & Mirror Reflection</a></li>#}
                {#                    <li><a href="#">Logo Design</a></li>#}
                {#                    <li><a href="#">Vectorization</a></li>#}
                {#                    <li><a href="#">Hair Masking/Clipping</a></li>#}
                {#                    <li><a href="#">Image Cropping</a></li>#}
                {#                </ul>#}
                <!--footer_ul_amrc ends here-->
            </div>


            <div class=" col-sm-4 col-md  col-12 col">
                {#                <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>#}
                {#                <!--headin5_amrc ends here-->#}
                {##}
                {#                <ul class="footer_ul2_amrc">#}
                {#                    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>#}
                {#                        <p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a>#}
                {#                        </p></li>#}
                {#                    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>#}
                {#                        <p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a>#}
                {#                        </p></li>#}
                {#                    <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>#}
                {#                        <p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a>#}
                {#                        </p></li>#}
                {#                </ul>#}
                <!--footer_ul2_amrc ends here-->
            </div>
        </div>
    </div>


    <div class="container">
        <ul class="foote_bottom_ul_amrc">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2017 | Designed With by <a href="#">Your Company Name</a></p>

        <ul class="social_footer_ul">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>

</footer>