<div class="row">
    <div class="col-12">
        <h2>Welcolme to Vape Manager platform {{ user.username }}!</h2>
        <p>Select one of the next items to access to your app.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card-deck">
            {#    <div class="card mb-3" style="width: 18rem;">#}
            {#      <div class="card-header bg-success text-white">Recipes</div>#}
            {#      <div class="card-body">#}
            {#        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
            {#        <a href="{% url 'alchemy:recipes_list' %}" class="btn btn-success">Recipes list</a>#}
            {#      </div>#}
            {#    </div>#}
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-header bg-warning text-white">Alchemy</div>
                <div class="card-body">
                    <p class="card-text">Access to the platform to manage your alchemy recipes</p>
                    <a href="{% url 'alchemy:index' %}" class="btn btn-warning">Alchemy manager</a>
                </div>
            </div>
            {#    <div class="card mb-3" style="width: 18rem;">#}
            {#      <div class="card-header bg-secondary text-white">Components</div>#}
            {#      <div class="card-body">#}
            {#        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
            {#        <a href="{% url 'alchemy:components_list' %}" class="btn btn-secondary">Components list</a>#}
            {#      </div>#}
            {#    </div>#}
        </div>
    </div>
</div>

