<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Vape Manager{% endblock %}
{#{% block page_title %}Vape Manager{% endblock %}#}
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
{% block content_header %}
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://dummyimage.com/1200x400/000/fff.png&text=Vape+Manager" alt="Los Angeles">
            </div>
            <div class="carousel-item">
                <img src="https://dummyimage.com/1200x400/000/fff.png&text=Alquimia" alt="Chicago">
            </div>
            <div class="carousel-item">
                <img src="https://dummyimage.com/1200x400/000/fff.png&text=Vape+Manager" alt="New York">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

{% endblock %}
{% block content %}
    <h2>¡Bienvenidos a Vape Manager!</h2>
    <p>
        Vape Manager ha sido creada para ser una plataforma para la comunidad de vapeo.
        Su finalidad actual es ayudar a gestionar y compartir recetas de alquimia entre usuarios,
        así como facilitar la creación de recetas registrando las recetas creadas y anotando sus fallos.
    </p>
    <p>
        Se prevé extender su funcionalidad a otros campos de interés de los usuarios de cigarrillos electrónicos. Cómo
        una
        calculadora para encontrar la configuración óptima de los mods mecánicos (batería, resistencia, ...) y un foro
        para
        que los usuarios compartan su experiencia y se cree una comunidad consolidada.
    </p>

    <h3>Alquimia</h3>
    <p>
        La alquimia consiste en la elaboración de líquidos para vapear a partir de diferentes aromas y otros
        componentes.
        Los alquimistas mezclan los distintos componentes para crear un nuevo líquido para vapear.
    </p>
    <h4>Recetas</h4>
    <p>
        La definición de un líquido para un cigarrillo electrónico se describe en una receta, símil a la cocina.
        Esta formada por un listado de componentes y su proporción en la mezcla, llamados ingredientes.
    </p>
    <p>
        <b>¡Vape Manager le permitirá mantener un registro de sus recetas y compartir las mejores con la comunidad!</b>
    </p>
    <h4>Componentes</h4>
    <p>
        Los componentes básicos de los ingredientes de las recetas són:
    </p>
    <ul>
        <li><b>Aromas:</b></li>
        <li><b>Propilenglicol:</b></li>
        <li><b>Glicerina Vegetal:</b></li>
        <li><b>Moléculas:</b></li>
    </ul>
    <h4>Cómo fabricar tus líquidos</h4>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/yXmrYL344P8"></iframe>
    {#https://www.steam-engine.org/juice.html#}
    <hr>
    {% if user.is_authenticated %}
        {% include 'home_logged.html' %}
    {% else %}
        <p>You are not logged in. </p>
        <p><b>Press next button to begin to use the platform:</b></p>
        <a class="btn btn-primary" href="{% url 'account_login' %}">login</a>
    {% endif %}
{% endblock %}

{% block content_footer %}
    <div class="jumbotron text-center" style="margin-bottom:0">
        {% if user.is_authenticated %}
            <p><a href="{% url 'account_logout' %}">logout</a></p>
            <p><a href="{% url 'account_reset_password' %}">reset password</a></p>
        {% else %}
            <a href="{% url 'account_login' %}">login</a>
        {% endif %}
    </div>
{% endblock %}