<nav class="navbar navbar-expand-lg navbar-light bg-white" id="mainNav">
    <a class="navbar-brand" href="/">Vape Manager</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'contact' %}">Contact</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'alchemy:index' %}">Alquimia</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'profile' %}">
                        <img src="{{ request.user.user_profile.image.url_60x60 }}" style="height:40px;"
                             alt="{{ request.user.username }}" class="avatar rounded-circle">
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="{% url 'account_logout' %}">Logout</a>
                </li>
            {% else %}

                <li class="nav-item">
                    <a class="nav-link " href="{% url 'account_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'account_signup' %}">Signup</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>